DATABASE_URL="postgresql://postgres:postgres@localhost:5432/shopstore"
JWT_ACCESS_TOKEN_SECRET="replace-with-long-secret"
JWT_REFRESH_TOKEN_SECRET="replace-with-long-refresh-secret"
JWT_ACCESS_TOKEN_EXPIRATION="900s"
JWT_REFRESH_TOKEN_EXPIRATION="7d"
PORT=3333
